@charset "utf-8";

/*Estilo a partir de la cartelera de cines van dyck*/

#contenedor{
width: 100%;	
}
html{
	/*background-color:#111;*/
	background-image:url("textura.png");	
}
#referencias{
	height:30%;
	-webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
         /*Espacio entre columnas*/
    column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -o-column-gap: 2em;
    /*Agrega una barra solida de color*/
    column-rule: 2px solid #666;
    -webkit-column-rule: 2px solid #666;
    -moz-column-rule: 2px solid #666;
    -o-column-rule: 2px solid #666;
}


#referencias h2{
	font-family: "helvetica";
	font-size: 2em;
	
}

#referencias p{
	font-family: "arimo";
	font-size:  0.7em;
	color:#667;
}



#referencias a{
	font-family: "arimo";
	font-size: 0.8em;
	color:#667;
}

#fotos{
	border-right: 0px ;
	margin-left:15%;
	background-color:#000;
	width:75%;	
}
#imagen{
	width: 90%;
	margin-left:5%;
	margin-right: 5%;
	height: 80%;
}
img{
	width:60%;
	
}
a {
    font-family:"arimo";
	font-size: 1em;
	color:white;
	text-decoration:none;
	border-right: 0px;
}
#top a{
	font-size: 1em;
	
}
li{	
	/*height:16px;
	float:left;
	padding-right:4px;
	margin-top:10px;
	margin:5px;*/
	display:inline;
	border-right: 1px solid;
	border-right-color: white;
	float:left;	
	padding-right:2px;
	padding-left: 2px;
	box-sizing:border-box;
}


#top{
	width:45%;
	margin-top:3%;
	margin-left:45%;	
}


p{
	font-family:"arimo";
	font-size: 1em;
	color:white;	
}


#pelicula{
	
	text-align:center;
	margin:5px; auto;	
}
iframe{
	width:70%;
	height:300px;
}
#ficha{	
	margin-left:15%;	
	width:40%;
	float:left;
	margin-right:20px;
	font-family:"comic";
}

#fichat{
	font-size: 3em;
	font-family: "helvetica";
}

section{
   width:60%;
   /*margin:20px auto;*/
    margin-right:100px;
    margin-left:15%;
	border-right: 1px solid;
	border-right-color: white; 
	clear:both;
	padding:5px;
}

h4{
	font-family:"arimo";
	font-size: 1.2em;
	color:white;
	
}

h3{
	font-family:"arimo";
	font-size: 1.5em;
	color:white;
}

h2{
	font-family:"arimo";
	font-size: 2em;
	color:white;
}

h1{
	font-family:"helvetica";
	font-size:4em;
	color:white;
}

footer{	
	background-color: #000;
	width: 100%;
	box-shadow:#888 10px  0px   20px;
}

@font-face{
	font-family:"arimo";
	src:url("arimo.regular.ttf");
}

@font-face{
	font-family:"helvetica";
	src:url("Kelvetica.otf");
}


@media only screen and (max-width:800px) {
    /* Style adjustments for viewports that meet the condition */
    #ficha{
    width: 100%}
    #top{
    clear:both;
    margin-left:10%;
    width: 100%}
    #referencias h2{
    font-size:2em;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
